// Copyright (c) 2018, 2025, Oracle and/or its affiliates.
// Licensed under the Universal Permissive License v 1.0 as shown at https://oss.oracle.com/licenses/upl

# OCI Authentication details
tenancy_ocid     = "<tenancy OCID>"
compartment_ocid = "<compartment OCID>"
user_ocid        = "<user OCID>"
fingerprint      = "<PEM key fingerprint>"
private_key_path = "<path to the private key that matches the fingerprint above>"

# Regions
homeregion = "<your tenancy home region, required for iam resources, example: eu-frankfurt-1, us-ashburn-1, us-phoenix-1>"
region     = "<region in which to operate for other non-iam resources, to be used with provider aliases, example: eu-frankfurt-1, us-ashburn-1, us-phoenix-1>"

